@model EDUProjects.Models.ProjectModel.AddCommentViewModel
@{
    ViewData["Title"] = "AddComment";
}

<h1>Leave a comment</h1>

<form asp-action="AddComment" method="post">

    <div class="row">
        <div class="col-2">
            Leave a comment
        </div>
        <div class="col-10">
            <textarea class="form-control"
                      asp-for="Feedback"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</form>