@model EDUProjects.Models.ProjectModel.AddProjectViewModel
@{
    ViewData["Title"] = "AddProject";
}

<h1>Upload project</h1>

<form asp-action="AddProject" method="post">

    <div class="row">
        <div class="col-2">
            Project Title
        </div>
        <div class="col-10">
            <button type="submit" asp-for="Project_Title"> Upload </button>
            
        </div>
 </div>



    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>