@model EDUProjects.Models.ProjectModel.TeacherProjectViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Projects </h1>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Students List
            </th>
            <th>
                @Html.DisplayName("Title")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(model => item.Project_Title)
                </td>



            </tr>
        }
    </tbody>

</table>
<button type="submit" style="float:right"> Submit </button>