@model EDUProjects.Models.ProjectModel.GetAllProjectsViewModel
@{
    ViewData["Title"] = "StudentIndex";
}
  <h1>Upload Project </h1>


<br />
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayName("Title")
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(model => item.Project_Title)
                </td>



            </tr>
        }
    </tbody>

</table>
<button type="submit" style="float:right"> Submit </button>