
@{
    ViewData["Title"] = "Contact";
}

<h1>EduProjects Contact</h1>
<h2>If you have any problems with the app, please contact us.</h2>
<address>
    <br />
    Tulip street, Number456<br />
    <abbr title="Phone">Phone number:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">eduprojects@gmail.com</a><br />
    
</address>

